<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :"Team Name", style: "display: block" %>
    <%= form.text_field :teamName, class:"form-control", placeholder:"Splender" %>
  </div>

  <div class="field form-group">
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code, class:"form-control", placeholder:"Splender" %>
  </div>


  <div>
    <%= form.submit %>
  </div>

<% end %>
