<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Title:</strong>
    <%= restaurant.title %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= restaurant.rate %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= restaurant.style %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= restaurant.description %>
  </p>

</div>
